body {
     background-color: yellow;
}
nav ul li {
          display: inline;
}
img {
    width: 200px;
    height: 200px;
}
a:hover {
        background-color: blue;
        color: red;
        transition: all 1s;
}
.boxModel{
         width: 100%;
         height: 400px;
         background-color: white;
         padding: 10px;
}

iframe {width: 100%}